<div class="card">
    <div class="card-header">
        Add Brand
    </div>
    <div class="card-body">
        <div class="form-group">
            <label>Category <span style="color: red;">*</span></label>
            <div class="input-group">
                <select [(ngModel)]="categoryId">
                    <option value="" disabled>Select Category</option>
                    <option *ngFor="let item of categories" [value]="item.categories_id">{{item.category}}</option>
                </select>
            </div>
        </div>

        <div class="form-group">
            <label>Brand <span style="color: red;">*</span></label>
            <div class="input-group">
                <input id="categoriy" type="text" class="form-control" placeholder="Add Brand" [(ngModel)]="brand">
            </div>
        </div>
        <a class="btn btn-primary" (click)="addBrand()">Submit</a>
    </div>
    <div class="card-footer">
        <span  style="color: red;">{{errorMsg}}</span>
        <span  style="color: green;">{{sucessMsg}}</span>
    </div>
</div>