<div class="vertical-menu">
        <a   [routerLink]="['/admin/']">Home</a>
        <hr>
        <a [routerLink]="['/admin/addcategory']">Add Category</a>
        <a [routerLink]="['/admin/addbrand']">Add Brand</a>
        <a [routerLink]="['/admin/addproduct']">Add Product</a>
        <hr>
        <a [routerLink]="['/admin/viewcategory']">view Category</a>
        <a [routerLink]="['/admin/viewbrand']">view Brand</a>
        <a [routerLink]="['/admin/viewproduct']">view Product</a>
        <hr>
      </div>
